#Activity_x
{
   background-color: rgb(180, 93, 93);
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    
}
#Activity_y
{
    margin: 3px;
    background-color: pink; 
    text-align: center;
    border-style: solid;
    border-radius: 10px;

    
}
.work{

    font-size: 25px;
    height: 200px;
     width: 700px; 
    border-style: solid;
    margin: 3px;
    padding: 3px;
    display: inline-block;
    border-radius: 10px;

}
p{
    font-size: 20px;
}