.class_a{
    font-size: 25px;
height: 100px;
width: 100px;
margin: 5px;
background-color: rgb(218, 112, 112);
border-radius: 10px;
flex:1;
text-align: center;
line-height: 100px;

}
.class_b{
height:75px;
width: 75px;
border-radius: 10px;
background-color: brown;

}
#id_a{
    display: flex;
    align-items: center;
    margin:0 auto;
    height: 100vh;

}
#id_b{
    margin:0 auto;
    text-align: center;
}