#calendar_ida{
position: fixed;
display: flex;
justify-content: center;
align-items: center;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-color:transparent;
}
#calendar_idb{
   color:red
}
#calendar_idc{
   height: 40px;
   width: 200px;
   border-radius: 10px;
   border: 2px,solid,black;
}
