#navbar{
    color:red;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    text-decoration: none;
  } 
  .tab{
    text-decoration: none;
  }

  .id_button{
    font-size: 25px;
    height: 35px;
    width: 200px;
    border-radius: 10px;
    background-color: aqua;
  }