#targetida{
    color: white;
    background-color: rgb(50, 50, 150);
    display: flex;
    justify-content: center;
}
#targetidb{
    display: flex;
    justify-content:space-between;
}
#targetidc{
    display: flex;
    flex-direction: column;
}

.targetclassa{
border: 1px, solid, black;

}

#textida{
    font-size: 20px;
    margin: 5px;
    height: 300px;
    width: 300px;
}