button{
    margin:10px;
    height:25px;
     width:200px;
      font-size:20px

}



#target_ida{
    display:flex;    
background-color:rgb(50, 50, 200);
}

#target_idb{
    flex: 1;
    padding: 10px;
margin: 10px;
background-color: beige;
font-size: 20px;
box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

#target_idc{
    flex: 1;
    padding: 10px;
margin: 10px;
background-color: beige;
box-shadow: 0 4px 8px rgba(0,0,0,0.5);

}

#target_idd{
    display:flex;   
    flex-wrap: wrap;
    gap:10px; 
background-color:rgb(50, 50, 200);
}


.target_classa{
    margin:10px;
    height: 25px;
    width: 300px; 
    font-size: 20px;
    border-radius: 5px;
}

.target_classb{
    padding: 5px;
    height:150px;
    width: 380px;
    margin:20px;
    font-size: 15px;
    border-radius: 5px;
    background-color: aqua;
}

.target_classb:hover{
    padding: 10px;
    margin:20px;
   
    font-size: 20px;
    border-radius: 5px;
    background-color:orange;
}