#targetida{
    color: white;
    background-color: rgb(58, 89, 209);
    display: flex;
    justify-content: center;
}
#targetidb{
        background-color: rgb(58, 89, 209);

    display: flex;
    flex:auto;
    justify-content:space-between;
}
#targetidc{
    display: flex;
    flex:2;
    flex-direction: column;
}
#targetidd{
    display: flex;
    justify-content: space-between;
}
#targetide{
  flex:1;
}
.targetclassa{
    height: 20px;
    width: 300px;
border: 1px, solid, black;

}

#textida{
    font-size: 20px;
    margin: 5px;
    height: 300px;
    width: 300px;
}