#todolist_ida{
    display: flex;
    border: 2px,solid,black;
    justify-content: space-around;
}
#todolist_idb{
 color:red;
}
#todolist_idc{
    display: flex;
justify-content: space-between;
    color:red;
    background-color: aqua;
}
#todolist_idd{
    display: flex;
    flex-direction: column;
   border-radius: 5px;
    height: 500px;
    width: 400px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.3);

    text-align: center;
    color:red;
    background-color:white;
}
#todolist_ide{
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
   right: 0;
   bottom: 0;
left: 0;
top: 0;
background-color: rgba(0,0,0,0.5);  
}
#todolist_idf{
size: 100px;
    color:red;
}
#todolist_idg{
    color:red;
   }

.todolist_classa{
    border: 2px,dotted,blueviolet;
font-size: 30px;
    background-color:aqua;
}
table{
    width: 500px;
}
td,th{
    border: 1px,solid,black;
    text-align: left;
}