.card {
    background-color:pink;
    color: black;
    height: 100px;
    width: 200px;
    border:2px solid brown;
    border-radius:15px;
    font-size: 25px;
}
#box{
    display: flex;
    justify-content: space-around;
}